
ul.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2% 0px;
	li {
		margin-right: 0;
		margin: 1%;
		// padding: 0 1%;
	}
}
.tab-content {
	padding-right: 0;
}



#homepage-container {
	height: 1080px;
	background: #6d94e1 url('_images/day-sky-01.jpg') no-repeat center center fixed;
	background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}
#div-one {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}
div#branding {
	display: block;
	position: relative; // for parallax
	z-index: 50;
	width: 90%;
	max-width: 1200px;
	p.business-title {
		font-family: 'Exo 2', Helvetica, Arial, sans-serif;
		font-size: 3.5em;
		line-height: 0em;
		font-weight: 800;
		color: #fff;
		text-shadow: -2px 3px 6px rgba(0,0,0,0.5);
		transition: all .75s ease;
	}
	p.tagline {
		font-family: 'Ubuntu', Helvetica, sans-serif;
		font-weight: 700;;
		color: #4c4c4c;
		font-size: 1.4em;
		line-height: 0em;
		margin-top: -10px;
		transition: all 0.75s ease;
	}
	img.ewd-logo {
		z-index: 52;
		position: absolute;
		right: 0px;
		top: -5px;
		width: 100%;
		max-width: 205px;
		transition: all 0.75s ease;
	}
}

#product-container {
	position: relative; //parallax
	box-sizing: border-box;
	width: 98%;
	max-width: 1220px;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
		div:nth-child(1) > h1 {
			background-color: rgba(12,95,153,1);
			border-top: 1px solid #3dabf8;
			border-right: 1px solid #3dabf8;
			border-left: 1px solid #3dabf8;
		}
		div:nth-child(2) {
			// margin: 0px 1%;
			& > h1 {
				background-color: rgba(76,181,172,1);
				border-top: 1px solid #79f3d2;
				border-right: 1px solid #79f3d2;
				border-left: 1px solid #79f3d2;
			}
		}
		div:nth-child(3) > h1 {
			background-color: rgba(117,110,19,1);
			border-top: 1px solid #d6da2c;
			border-right: 1px solid #d6da2c;
			border-left: 1px solid #d6da2c;
		}
		// -------- dark box borders
		div:nth-child(1) > ul {
			border-right: 1px solid #3dabf8;
			border-left: 1px solid #3dabf8;
		}
		div:nth-child(2) > ul {
			border-right: 1px solid #79f3d2;
			border-left: 1px solid #79f3d2;
		}
		div:nth-child(3) > ul {
			border-right: 1px solid #d6da2c;
			border-left: 1px solid #d6da2c;
		}	
	.product-box {
		// width: 33%;
		flex: 1 1 300px;
		margin: 1%;
		max-width: 410px;
		overflow: hidden;
		&:nth-of-type(1) {
			// margin: 0px;
		}
		h1.product-item {
			font-size: 2em;
			color: #fff;
			text-align: center;
			padding: 15px;
			margin: 0;
		}
		ul.product-list {
			list-style: none;
			text-align: left;
			font-size: 1.4em;
			color: #fff;
			padding: 20px 0px;
			background-color: rgba(0,0,0,0.6);
			&:nth-child(1) {
				border-right: 1px solid #3dabf8;
				border-left: 1px solid #3dabf8;
			}
			li {
				display: block;
				line-height: 1.4em;
				margin-left: 30px;
			}
		}
		p.product-desc {
			background-color: rgba(255,255,255,0.35);
			color: #333;
			font-size: 1em;
			padding: 15px;
			margin: 0;
			border-right: 1px solid transparent;
			border-bottom: 1px solid transparent;
			border-left: 1px solid transparent;
			margin-bottom: -85px;
			padding-bottom: 100px;

		}
	}
}


#badge {
	position: relative;
	.badge-box {
		box-sizing: border-box;
		width: 100%;
		display: block;
		text-align: center;
		margin: 20px auto 0px auto;
		background-color: rgba(12,95,153,0.5);
		max-width: 300px;
		color: #fff;
		padding: 15px 35px;
		border: 2px solid #fff;
		border-radius: 12px;
		transition: all .75s ease;
		a.badge-tel {
			text-decoration: none;
			color: inherit;
			&:hover {
				text-decoration: none;
				color: inherit;
				cursor: text;
			}
		}
		h2 {
			font-size: 1.3em;
			line-height: 1.2em;
			color: #fff;
		}
		h4 {
			font-size: .9em;
			line-height: 1em;
			margin-top: 8px;
		}
	}
}
@media screen and (max-width: 993px) {
		#div-one {
			width: 100%;
			height: auto;
		}
		div#branding {
			margin-top: 60px;
			width: 96%;
			min-width: 0;
		}	
	}
@media screen and (max-width: 930px) {
	#div-one {
		// align-items: flex-s;
	}
	div#branding {
		width: 60%;
		min-width: 470px;
		p.business-title {
			font-size: 2em;
			line-height: .5em;
		}
		p.tagline {
			font-size: 1em;
		}
		img.ewd-logo {
			width: 110px;
			top: 10px;
		}
	}
	
	#product-container {
		position: relative; //parallax
		box-sizing: border-box;
		width: 90%;
		margin: 0px auto;
		flex-direction: column;
		// flex-wrap: nowrap;
			div:nth-child(1) > h1 {
				background-color: rgba(12,95,153,1);
				border-top: 1px solid #3dabf8;
				border-right: 1px solid #3dabf8;
				border-left: 1px solid #3dabf8;
			}


			div:nth-child(2) {
				// margin: 0 auto;
				& > h1 {
					background-color: rgba(80,191,161,1);
					border-top: 1px solid #79f3d2;
					border-right: 1px solid #79f3d2;
					border-left: 1px solid #79f3d2;
				}
			}


			div:nth-child(3) > h1 {
				background-color: rgba(117,110,19,1);
				border-top: 1px solid #d6da2c;
				border-right: 1px solid #d6da2c;
				border-left: 1px solid #d6da2c;
			}	
		.product-box {
			width: 90%;
			max-width: 900px;
			margin: 10px auto;
			flex: 1 1 200px;
			&:nth-of-type(1) {
				// margin: 0px auto 10px auto;
			}
			h1.product-item {
				font-size: 1.2em;
				font-weight: bold;
				color: #fff;
				text-align: center;
				padding: 8px;
				margin: 0;
			}
			ul.product-list {
				list-style: none;
				text-align: center;
				font-size: 1em;
				color: #fff;
				padding: 10px 0px;
				background-color: rgba(0,0,0,0.6);
				&:nth-child(1) {
					border-right: 1px solid #3dabf8;
					border-left: 1px solid #3dabf8;
				}
				li {
					display: block;
					line-height: 1.2em;
					margin-left: 0px;
				}
			}
			p.product-desc {
				margin-bottom: -40px;
				padding-bottom: 60px;
				// display: none;
			}
		}
	}

	#badge {
		.badge-box {
			// max-width: 170px;
			h2 {
				font-size: 1.1em;
				line-height: 1em;
			}
		}
	}
} // end media query 930px
@media screen and (max-width: 600px) {
	#homepage-container {
		height: 900px;
		.product-box {
			flex: 1 1 110px;
			margin: 5px auto;
		}
	}
	div#branding {
		margin-top: 0px;
	}
	#badge {
		// top: 35px;
		display: none;
	}
	p.product-desc {
		display: none;
	}
	.mobile-tel {
		z-index: 1001;
		position: fixed; 
		bottom: 0;
		left: 10px;
		text-align: center;
		background-color: rgba(45,45,45,0.6);
		padding: 11px 14px;
		color: #fff;
		text-decoration: none;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		box-shadow: -4px 4px 3px 0px rgba(50, 50, 50, 0.44);
		transition: background-color .3s ease;
		transition: height .2s ease;
	}
}

@media screen and (max-width: 500px) {
	div#branding {
		width: 100%;
		min-width: 0px;
		text-align: center;
		p.business-title {
			font-size: 1.5em;
			line-height: .8em;
		}
		p.tagline {
			font-size: 1em;
			line-height: 1em;
			margin-top: -1em;
			padding: 0px 8px;
		}
		img.ewd-logo {
			display: none;
		}
	}
}

