/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cf {
  clear: both;
  line-height: 1px;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

body,
html {
  height: 100%;
}

body {
  background-color: #313131;
  font-family: 'Montserrat', 'Lato', Verdana, Tahoma, Arial, sans-serif;
  font-size: 1em;
  color: #fff;
}

#wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  height: 100%;
  height: 100vh;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
#wrapper img {
  width: 100%;
  max-width: 140px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  margin-bottom: 1em;
}
#wrapper p {
  letter-spacing: 1px;
  line-height: 1.5em;
}
#wrapper #wrapper-position {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: auto;
  transition: all 0.3s ease;
  width: 100%;
}
#wrapper #contact-wrapper {
  width: 100%;
  max-width: 550px;
  color: white;
  text-align: center;
  padding-top: 1em;
}
#wrapper #contact-wrapper button#toggle-contact-form {
  background: none;
  border: none;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  padding: 8px 18px;
  border-radius: 5px;
  background-color: inherit;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
#wrapper #contact-wrapper button#toggle-contact-form:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #1e1e1e;
  border: 1px solid #000;
}
#wrapper #contact-wrapper button#toggle-contact-form:focus {
  outline: 0;
}
#wrapper #contact-wrapper button#toggle-contact-form.active {
  border-bottom: 1px dotted #808080;
  width: 96%;
  max-width: 400px;
  text-align: center;
}
#wrapper #contact-wrapper form#contactForm {
  width: 90%;
  max-width: 550px;
  margin: 1.5em auto 5em auto;
}
#wrapper #contact-wrapper form#contactForm ul {
  margin: 0px;
  padding: 0px;
}
#wrapper #contact-wrapper form#contactForm ul li {
  list-style: none;
}
#wrapper #contact-wrapper form#contactForm label {
  display: inline-block;
  margin-bottom: .5em;
}
#wrapper #contact-wrapper form#contactForm input {
  margin-bottom: 20px;
  margin-top: 5px;
}
#wrapper #contact-wrapper form#contactForm input#name,
#wrapper #contact-wrapper form#contactForm input#email {
  height: 25px;
  width: 90%;
  font-size: 16px;
  text-align: center;
  transition: all 0.3s ease;
  -webkit-appearance: none;
}
#wrapper #contact-wrapper form#contactForm textarea#comments {
  height: 150px;
  width: 100%;
  margin-top: .2em;
  margin-bottom: .2em;
  font-size: 16px;
  transition: all 0.3s ease;
}
#wrapper #contact-wrapper form#contactForm input#send {
  display: inline-block;
  float: left;
  width: 150px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  border: 1px solid #233851;
  background: #ccc;
  color: #000;
}
#wrapper #contact-wrapper form#contactForm input#send:hover {
  background: #565656;
  color: #fff;
}
#wrapper #contact-wrapper form#contactForm input#send:active, #wrapper #contact-wrapper form#contactForm input#send:focus {
  outline: 0;
  outline-style: 0;
}
#wrapper #contact-wrapper form#contactForm input#send:visited {
  background: #ccc;
}
#wrapper #contact-wrapper button#confirm {
  float: left;
  margin-top: 10px;
  max-width: 300px;
  padding: 10px 12px;
  border: 1px solid #950808;
  background: #ba2222;
  color: #fff;
  cursor: pointer;
}
#wrapper #contact-wrapper button#confirm:hover {
  background: #ba2222;
  color: #fff;
  cursor: default;
}
#wrapper #contact-wrapper button#confirm:active, #wrapper #contact-wrapper button#confirm:focus {
  outline: 0;
  outline-style: 0;
}
#wrapper #contact-wrapper button.enable-submit {
  display: none;
}
#wrapper #contact-wrapper .g-recaptcha {
  margin-top: 10px;
}
#wrapper #contact-wrapper button#send {
  float: left;
  margin-top: 10px;
  max-width: 300px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #206311;
  background: #2cb20c;
  color: #fff;
  cursor: pointer;
}
#wrapper #contact-wrapper button#send:hover {
  background: #278111;
  color: #fff;
}
#wrapper #contact-wrapper button#send:active, #wrapper #contact-wrapper button#send:focus {
  outline: 0;
  outline-style: 0;
}
#wrapper #contact-wrapper .display {
  display: none;
}

div#success-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  width: 100%;
  height: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}
div#success-wrap span.success-msg {
  padding: 50px;
  text-align: center;
  background-color: rgba(47, 126, 25, 0.9);
  border-radius: 8px;
  color: #fff;
  border: 3px solid #fff;
  width: 90%;
  max-width: 400px;
}

@media screen and (max-width: 680px) {
  #wrapper #wrapper-position {
    margin-top: -30%;
  }

  #wrapper #contact-wrapper form#contactForm input#name,
  #wrapper #contact-wrapper form#contactForm input#email {
    height: 1.6em;
    font-size: 1.5em;
    margin-bottom: 1.4em;
  }

  #wrapper #contact-wrapper form#contactForm textarea#comments {
    font-size: 1.5em;
  }

  #wrapper #contact-wrapper button#toggle-contact-form:hover {
    background-color: #313131;
    border: 1px solid transparent;
  }
  #wrapper #contact-wrapper button#toggle-contact-form:hover.active {
    border-bottom: 1px dotted #808080;
    background-color: #1e1e1e;
  }
}
