body,
html {
  height: 100%;
}
body {
  background-color: #313131;
  font-family: 'Montserrat', 'Lato', Verdana, Tahoma, Arial, sans-serif;
  font-size: 1em;
  color: #fff;
}
#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    max-width: 140px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    margin-bottom: 1em;
    box-shadow: -2px 2px 3px 2px rgba(0,0,0,0.15);
  }
  p {
    letter-spacing: 1px;
    line-height: 1.5em;
  }
  #wrapper-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    transition: all 0.3s ease;
    width: 100%;
  }
  #contact-wrapper {
  // line-height: 3em;
  width: 100%;
  max-width: 550px;
  // height: 400px;
  // background-color: #333;
  color: white;
  text-align: center;
  padding-top: 1em;
  // margin-top: 50px;
  button#toggle-contact-form {
    background: none;
    border: none;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 5px;
    background-color: inherit;
    border: 1px solid transparent;
    transition: all 0.3s ease;
      &:hover {
        text-decoration: none;
        cursor: pointer;
        background-color: #1e1e1e;
        border: 1px solid #000;
      }
      &:focus {
      outline: 0;
      } 
      &.active {
        border-bottom: 1px dotted #808080;
        width: 96%;
        max-width: 400px;
        text-align: center;
      }
  }
  form#contactForm {
    width: 90%;
    max-width: 550px;
    margin: 1.5em auto 5em auto;
    ul {
      margin: 0px;
      padding: 0px;
      li {
        list-style: none;
      }
    }
    label {
      display: inline-block;
      margin-bottom: .5em;
      // .message-label {
      //   text-align: left;
      // }
    }
    input {
      margin-bottom: 20px;
      margin-top: 5px;
    }
    input#name,
    input#email {
      height: 25px;
      width: 90%;
      // max-width: 400px;
      font-size: 16px;
      text-align: center;
      transition: all 0.3s ease;
      -webkit-appearance: none;
    }
    textarea#comments {
      height: 150px;
      width: 100%;
      // max-width: 400px;
      margin-top: .2em;
      margin-bottom: .2em;
      font-size: 16px;
      transition: all 0.3s ease;
    }
    input#send {
      display: inline-block;
      float: left;
      width: 150px;
      padding: 10px;
      margin: 10px 0;
      border-radius: 3px;
      border: 1px solid #233851;
      background: #ccc;
      color: #000;
      &:hover {
        background: #565656;
        color: #fff;
      }
      &:active, &:focus {
        outline: 0;
        outline-style: 0;
      }
      &:visited {
        background: #ccc;
      }     
    }
  }

  button#confirm {
    float: left;
    margin-top: 10px;
    max-width: 300px;
    padding: 10px 12px;
    // border-radius: 8px;
    border: 1px solid #950808;
    background: #ba2222;
    color: #fff;
    cursor: pointer;
    &:hover {
      background: #ba2222;
      color: #fff;
      cursor: default;
    }
    &:active, &:focus {
      outline: 0;
      outline-style: 0;
    }
  }

  button.enable-submit {
    display: none;
  }
  .g-recaptcha {
    margin-top: 10px;
    // float: right;
  }

  button#send {
    float: left;
    margin-top: 10px;
    max-width: 300px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #206311;
    background: #2cb20c;
    color: #fff;
    cursor: pointer;
    &:hover {
      background: #278111;
      color: #fff;
    }
    &:active, &:focus {
      outline: 0;
      outline-style: 0;
    }
  }

  .display {
    display: none;
    }
  }
}

div#success-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
  span.success-msg {
    padding: 50px;
    text-align: center;
    background-color: rgba(47,126,25,0.9);
    border-radius: 8px;
    color: #fff;
    border: 3px solid #fff;
    width: 90%;
    max-width: 400px;
  }
}
// preloader
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.preload {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: url(_images/preload.gif) center no-repeat #f1f1f1;
}

@media screen and (max-width: 680px) {
  #wrapper #wrapper-position {
    margin-top: -30%;
  }
  #wrapper #contact-wrapper form#contactForm input#name,
  #wrapper #contact-wrapper form#contactForm input#email {
    height: 1.6em;
    font-size: 1.5em;
    margin-bottom: 1.4em;
  }
  #wrapper #contact-wrapper form#contactForm textarea#comments {
    font-size: 1.5em;
  }
  #wrapper #contact-wrapper button#toggle-contact-form:hover {
    background-color: #313131;
    border: 1px solid transparent;
    &.active {
      border-bottom: 1px dotted #808080;
      background-color: #1e1e1e;
    }
  }
}